/*!CK:1312547609!*//*1444175131,*/

.sp_Qrs7oG7jO_H{background-image:url(/rsrc.php/v2/yV/r/UlHdmQdvc0U.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:14px}.sp_Qrs7oG7jO_H.sx_340d14{width:16px;background-position:0 0}.sp_Qrs7oG7jO_H.sx_cbc4d5{background-position:0 -17px}.sp_Qrs7oG7jO_H.sx_d376c0{background-position:0 -34px}

#bootloader_JVnCe { height: 42px; }
.bootloader_JVnCe { display:block !important; }