/*!CK:2343005279!*//*1444684061,*/

.sp_OqlFGQshB9Z{background-image:url(/rsrc.php/v2/yb/r/q0-UXTrIXEa.png);background-size:15px 30px;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_OqlFGQshB9Z.sx_984478{width:12px;background-position:0 -15px}.sp_OqlFGQshB9Z.sx_2ced07{background-position:0 0}

#bootloader_DQwei { height: 42px; }
.bootloader_DQwei { display:block !important; }